@model VendingMachine.Models.Drink

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить напиток?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
