@model VendingMachine.Models.VendingMachineContext

@{
    ViewBag.Title = "Index";
}

<header></header>

<div>
    <h2>Select drink:</h2>

    @if (Model.RunTime.IsAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Count
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Drinks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td id="drink_limit-@item.Id.ToString()">
                    @Model.GetDrinkLimit(item.Id)
                </td>
                @if (Model.RunTime.IsAdmin)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        <table>
                            <tr>
                                <th>
                                    <button disabled id="select_drink-@item.Id.ToString()" value="@item.Id.ToString()">Select</button>
                                </th>
                                <th id="selected_drink-@item.Id.ToString()">
                                    (@Model.RunTime.SelectedDrinks.GetSelected(item.Id))
                                </th>
                            </tr>
                        </table>
                    </td>

                }
            </tr>
        }

    </table>
</div>

<div>
    <h2>Insert coins:</h2>
    <table class="table">
        <tr>
            @foreach (var o in Model.Coins)
            {
                <th>
                    <table>
                        <tr>
                            <th>
                                @Html.DisplayName(o.Value.ToString()) руб.
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Сount:
                            </th>
                            <th id='coins-count-@o.Id.ToString()'>
                                @Model.RunTime.SelectedCoins.GetSelected(o.Id)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <button id="insert_coin-@o.Id.ToString()" value="@o.Id.ToString()">Insert</button>
                            </td>
                        </tr>
                    </table>
                </th>
            }
            <th>
                <table>
                    <tr>
                        <th>
                            Total:
                        </th>
                        <th id='coins-total'>
                            @Model.RunTime.SelectedCoins.Total
                        </th>
                        <th>
                            руб.
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Limit:
                        </th>
                        <th id='coins-limit'>
                            @Model.RunTime.CoinsLimit
                        </th>
                        <th>
                            руб.
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>
</div>
<!--
<div>
    <h2>Selected drinks:</h2>
    <table class="table">
        <tr></tr>
    </table>
</div>
    -->
<text>
    @Ajax.ActionLink("Get drinks", "ConfirmOrder", new AjaxOptions { OnSuccess = "ConfirmOrder" }) |
    @Html.ActionLink(String.Format("Get change ({0} руб.)", 0), "GetСhange")
</text>
