@model IEnumerable<VendingMachine.Models.Drink>

@{bool isAdmin = (bool)ViewData["admin"];}

@{
    ViewBag.Title = "Index";
}

<header></header>

<div>
    <h2>Select drink:</h2>

    @if (isAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            @if (isAdmin)
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                @if (isAdmin)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
</div>

<footer>
    <h2>Insert coins:</h2>
    <table class="table" border="0">
        <tr>
            <th>
            </th>
        </tr>
    </table>
</footer>