@model VendingMachine.Models.VendingMachineContext

@{
    ViewBag.Title = "Торговый автомат";
}

<div>
    <h2>Выберите напиток:</h2>

    <table class="table">
        <tr>
            <th>
                Название
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Drinks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td id="drink_count-@item.Id.ToString()">
                    @item.Count
                </td>
                <td>
                    <table>
                        <tr>
                            <th>
                                <input type="button" value="Выбрать" name="@item.Id.ToString()" class="btn btn-default" disabled id="select_drink-@item.Id.ToString()" />
                            </th>
                        </tr>
                    </table>
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <h2>Вставьте монету:</h2>
    <table class="table">
        <tr>
            @foreach (var o in Model.Coins)
            {
                <th>
                    <table>
                        <tr>
                            <th>
                                @Html.DisplayName(o.Value.ToString()) руб.
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Вставить" name="@o.Id.ToString()" class="btn btn-default" disabled id="insert_coin-@o.Id.ToString()" />
                            </td>
                        </tr>
                    </table>
                </th>
            }
            <th>
                <table>
                    <tr>
                        <th>
                            Остаток средств:
                        </th>
                        <th id='coins-total'>
                            @Model.RunTime.Coins
                        </th>
                        <th>
                            руб.
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>
</div>

<text>
    <a id="get-change">Забрать сдачу</a>
</text>
