@model VendingMachine.Models.VendingMachineContext

@{
    ViewBag.Title = "Index";
}

<header></header>

<div>
    <h2>Select drink:</h2>

    @if (Model.RunTime.IsAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Count
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Drinks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                @if (Model.RunTime.IsAdmin)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        <table>
                            <tr>
                                <th>
                                    <button disabled id="select_drink-@item.Id.ToString()">Select</button>
                                    @*@Ajax.ActionLink("Select", "SelectDrink", item, new AjaxOptions {
                                            OnSuccess = "SelectDrink(data);"
                                        },
                                             new { id="select-drink-" + item.Id }
                                             )*@
                                </th>
                                <th>
                                    (@Model.RunTime.SelectedDrinks.GetSelected(item.Id))
                                </th>
                            </tr>
                        </table>
                    </td>

                }
            </tr>
        }

    </table>
</div>

<div>
    <h2>Insert coins:</h2>
    <table class="table">
        <tr>
            @foreach (var o in Model.Coins)
            {
                <th>
                    <table>
                        <tr>
                            <th>
                                @Html.DisplayName(o.Value.ToString()) руб.
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Сount:
                            </th>
                            <th id='coins-count-@o.Id.ToString()'>
                                @Model.RunTime.SelectedCoins.GetSelected(o.Id)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <button id="insert_coin-@o.Id.ToString()" value="@o.Id.ToString()">Insert</button>

                                @*@Ajax.ActionLink("Insert", "InsertCoin", o, new AjaxOptions {
                                         OnSuccess = "InsertCoins(data);"
                                    })*@
                            </td>
                        </tr>
                    </table>
                </th>
            }
            <th>
                <table>
                    <tr>
                        <th>
                            Total:
                        </th>
                        <th id='coins-total'>
                            @Model.RunTime.SelectedCoins.Total
                        </th>
                        <th>
                            руб.
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>
</div>
<!--
<div>
    <h2>Selected drinks:</h2>
    <table class="table">
        <tr></tr>
    </table>
</div>
    -->
<text>
    @Html.ActionLink("Get drinks", "ConfirmOrder") |
    @Html.ActionLink(String.Format("Get change ({0} руб.)", 0), "GetСhange")
</text>
